<p>Name: <%= @blogger.name %></p>
<p>Age: <%= @blogger.age %></p>
<p>Bio: <%= @blogger.bio %></p>

<%= link_to "All bloggers", bloggers_path %>
<br>
<%= link_to "All destinations", destinations_path %>
