<h1>Create a new post</h1>

<%= form_for @post do |f| %>
  <div class="field">
  <%= f.label :title %>
  <%= f.text_field :title %>
  </div>
  <br>
  <div class="field">
  <%= f.label :content %>
  <%= f.text_area :content %>
  </div>
  <br>
  <div class="field">
  <%= f.label :likes %>
  <%= f.number_field :likes %>
  </div>
  <br>
  <p>Blogger <%= f.collection_select :blogger_id, Blogger.all, :id, :name %></p>
  <br>
  <p>Destination <%= f.collection_select :destination_id, Destination.all, :id, :name %></p>
  <br>
  <div class="action">
  <%= f.submit %>
  </div>
  <% end %>
<br>
<%= link_to "All destinations", destinations_path %>
